.flex-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    min-height: 90vh;
  }
  
  .real-time, .track-crypto {
    font-size: 7rem;
    margin: 0px;
    font-weight: 800;
  }
  
  .real-time {
    color: var(--pink);
  }
  
  .track-crypto:hover {
    color: var(--black);
    -webkit-text-stroke: 3px var(--white);
    transition: all 0.3s;
  }
  .info-text {
    color: var(--grey);
    font-size: 1.2rem;
  }
  
  .btn-flex {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .right-component {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
  }
  
  .gradient-img {
    position: absolute;
    max-width: 300px;
    top: 6rem;
    object-fit: contain;
    z-index: 0;
  }
  
  .iphone-img {
    position: absolute;
    max-width: 380px;
    object-fit: contain;
    z-index: 1;
    right: 0rem;
  }
  
  @media only screen and (max-width: 1250px) {
    .left-component {
      width: 60%;
    }
  
    .gradient-img {
      max-width: 250px;
      top: 4rem;
    }
    .iphone-img {
      max-width: 300px;
    }
    .track-crypto,
    .real-time {
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 1050px) {
    .gradient-img {
      max-width: 230px;
      top: 3rem;
    }
    .iphone-img {
      max-width: 280px;
    }
    .track-crypto,
    .real-time {
      font-size: 4rem;
    }
    .info-text {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .flex-info {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    .left-component {
      width: 100%;
      text-align: center;
    }
  
    .right-component {
      justify-content: center;
      margin-right: auto;
      margin-top: 4rem;
      margin-bottom: 28rem;
    }
  
    .iphone-img {
      left: auto;
      right: auto;
    }
  
    .real-time, .track-crypto {
      font-size: 3rem;
    }
    .info-text{
      font-size: 0.8rem;
    }
    .btn-flex {
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .flex-info {
      height: 120vh;
    }
  }
