.back-to-top-btn {
    position: fixed;
    display: flex;
    bottom: 1.5rem;
    right: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--pink);
    border-radius: 3rem;
    margin: 1.5rem;
}

.back-to-top-btn:hover {
    box-shadow: 3px 2px 43px 0px rgba(240,91,143,0.69);
    transition: all 0.3s;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--pink);
}